<form id="delete-form" method="POST" action="{% url 'delete_tasks' %}" onsubmit="return confirmDelete();">
    {% csrf_token %}
    <ul>
        {% for task in tasks %}
            <li class="{% if task.data_completare %}completed-task{% endif %}{% if task.repetitiv %}repetitive-task{% endif %}">

                <span class="checkbox-col">  <!-- pentru delete -->
                    <input type="checkbox" class="delete-checkbox" name="task_ids" value="{{ task.id_task }}">
                </span>

                {% if not task.repetitiv %}
                    <label class="task-label">
                        <input type="checkbox" class="task-checkbox" data-task-id="{{ task.id_task }}"
                        {% if task.data_completare %}checked{% endif %}>
                {% endif %}

                    <a style="text-decoration: none;" href="{% url 'edit-task' task.id_task %}"><strong>{{ task.titlu }}</strong> | Importanta: {{ task.importanta }} |
                        Deadline: {{ task.deadline|date:"d-m-Y" }} |
                        {% if task.days_to_do %}
                            Days to do: {{ task.days_to_do }} |
                        {% endif %}
                        {% if task.def_time %}
                            Notificare default: {{ task.def_time }}
                        {% endif %}
                    </a>
                </label>
            </li>
        {% empty %}
            <li>No tasks found.</li>
        {% endfor %}
    </ul>
    <button type="submit" id="confirm-delete-btn" style="display: none;"> Confirm delete</button>
</form>

{# script pentru functia de delete #}
<script>
    function enableDeleteMode(){
        document.querySelectorAll('.checkbox-col').forEach(el => el.style.display = 'inline-block');
        document.querySelectorAll('.task-checkbox').forEach(cb => cb.style.display = 'none'); // ascunse pentur completare

        document.getElementById('cancel-delete-btn').style.display='inline-block';
        document.getElementById('confirm-delete-btn').style.display='inline-block';
        document.getElementById('delete-mode-btn').style.display='none';
        document.getElementById('select-all-btn').style.display='inline-block';
        document.getElementById('deselect-all-btn').style.display='inline-block';
    }
    function disableDeleteMode(){
        document.querySelectorAll('.checkbox-col').forEach(el => el.style.display = 'none');
        document.querySelectorAll('.delete-checkbox').forEach(cb => cb.checked = false);
        document.querySelectorAll('.task-checkbox').forEach(cb => cb.style.display = 'inline-block'); // reafisez completarea

        document.getElementById('cancel-delete-btn').style.display='none';
        document.getElementById('confirm-delete-btn').style.display='none';
        document.getElementById('delete-mode-btn').style.display='inline-block';
        document.getElementById('select-all-btn').style.display='none';
        document.getElementById('deselect-all-btn').style.display='none';
    }
    function confirmDelete(){
        return confirm("Taskurile vor fi sterse definitiv. Esti sigur?");
    }
    function toggleAllCheckboxes(checked){
        const checkboxes = document.querySelectorAll('input[name="task_ids"]');
        checkboxes.forEach(cb => cb.checked = checked);
    }
</script>

{# script pentru checkboxurile de completare #}
<script>
    document.addEventListener('DOMContentLoaded',function(){
        const checkboxes = document.querySelectorAll('.task-checkbox');

        checkboxes.forEach(function(checkbox){
            checkbox.addEventListener('change',function(){
                const taskId = this.dataset.taskId;
                const isChecked = this.checked;

                //cerere ajax pentru actualizare
                fetch("{% url 'update_task_completion' %}", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                        "X-CSRFToken": document.querySelector('[name=csrfmiddlewaretoken]').value,
                    },
                    body: JSON.stringify({
                        'task_id': taskId,
                        'completed': isChecked
                    })
                })
                    .then(response => response.json())
                    .then(data=>{
                        if(data.success){
                            console.log("Task updated successfully.");

                            const parentLi = checkbox.closest('li');
                            if(isChecked){
                                parentLi.classList.add('completed-task')
                            }
                            else{
                                parentLi.classList.remove('completed-task');
                            }

                            const showCompleted = document.getElementById('toggle-completed').checked;
                            if(!showCompleted && isChecked) {
                                parentLi.style.display = 'none';
                            }else{
                                parentLi.style.display = 'list-item';
                            }
                        } else{
                            console.log("Error updating task.")
                        }
                    })
                    .catch(error =>{
                        console.error('Error',error);
                    });
            });
        });
    });
</script>

{# afisare ascundere taksuri completate #}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const toggle = document.getElementById('toggle-completed');

        const savedState = localStorage.getItem('showCompletedTasks');
        if (savedState !== null) {
        toggle.checked = savedState === 'true';
        }

        function updateVisibility() {
            const show = toggle.checked;
            localStorage.setItem('showCompletedTasks', show); //save
            document.querySelectorAll('li').forEach(task =>{
                if(task.classList.contains('completed-task')){
                    task.style.display = show ? 'list-item' : 'none'
                }
            });
        }

        toggle.addEventListener('change', updateVisibility);

        updateVisibility();
    });
</script>
{# script salvare preferinta completed tasks #}

{# script afisare pentru taskuri repetitive sau nu #}
<script>
    document.addEventListener('DOMContentLoaded', function () {
    const toggleRepetitive = document.getElementById('toggle-repetitive');

    const savedState = localStorage.getItem('showRepetitiveTasks');
    if (savedState !== null) {
        toggleRepetitive.checked = savedState === 'true';
    }

    function updateRepetitiveVisibility() {
        const show = toggleRepetitive.checked;
        localStorage.setItem('showRepetitiveTasks', show);
        document.querySelectorAll('li.repetitive-task').forEach(task => {
            task.style.display = show ? 'list-item' : 'none';
        });
    }

    toggleRepetitive.addEventListener('change', updateRepetitiveVisibility);

    updateRepetitiveVisibility();
});

</script>