<form id="delete-form" method="POST" action="{% url 'delete_tasks' %}" onsubmit="return confirmDelete();">
    {% csrf_token %}
    <ul>
        {% for task in tasks %}
            <li>
                <span class="checkbox-col">
                    <input type="checkbox" name="task_ids" value="{{ task.id_task }}">
                </span>
                {{ task.titlu }} - Importanță: {{ task.importanta }}
            </li>
        {% empty %}
            <li>No tasks found.</li>
        {% endfor %}
    </ul>
    <button type="submit" id="confirm-delete-btn" style="display: none;"> Confirm delete</button>
</form>

<script>
    function enableDeleteMode(){
        document.querySelectorAll('.checkbox-col').forEach(el=>el.style.display='inline-block');
        document.getElementById('cancel-delete-btn').style.display='inline-block';
        document.getElementById('confirm-delete-btn').style.display='inline-block';
        document.getElementById('delete-mode-btn').style.display='none';
    }
    function disableDeleteMode(){
        document.querySelectorAll('.checkbox-col').forEach(el=>el.style.display='none');
        document.querySelectorAll('input[type="checkbox"]').forEach(el=>el.checked = false);
        document.getElementById('cancel-delete-btn').style.display='none';
        document.getElementById('confirm-delete-btn').style.display='none';
        document.getElementById('delete-mode-btn').style.display='inline-block';
    }
    function confirmDelete(){
        return confirm("Taskurile vor fi sterse definitiv. Esti sigur?");
    }
</script>