{% for notif in notificari %}
    <fieldset class="notification-fieldset" id="notif-box-{{ notif.id_notificare }}">
    <legend>Notificare {{ forloop.counter }}:</legend>
    <div class="form-group notification-group">
        <label for="notif_date_{{ forloop.counter }}">Data:</label>
        <input class = "input-field" type="date" id="notif_date_{{ forloop.counter }}" name="notif_date_{{ forloop.counter }}"
            value="{{ notif.notif_dt|date:'Y-m-d' }}">
    </div>
    <div class="form-group notification-group">
        <label for="notif_time_{{ forloop.counter }}">Ora:</label>
        <input class="input-field" type="time" id="notif_time_{{ forloop.counter }}" name="notif_time_{{ forloop.counter }}"
            value="{{ notif.notif_dt|date:'H:i' }}">
    </div>
    <div class="form-group notification-group">
        <label for="notif_msg_{{ forloop.counter }}">Mesaj:</label>
        <input class="input-field" type="text" id="notif_msg_{{ forloop.counter }}" name="notif_msg_{{ forloop.counter }}"
            value="{{ notif.mesaj }}">
    </div>

    {% if notif.id_notificare %}
         <button id="delete-notif-btn" class = "links" type="button" onclick="stergeNotificare({{ notif.id_notificare }})">
            Șterge notificare
        </button>
    {% endif %}

    </fieldset>
{% endfor %}

<script>
function stergeNotificare(id) {
    fetch(`/api/delete-notificare/${id}/`, {
        method: 'POST',
        headers: {
            'X-CSRFToken': getCSRFToken()
        }
    }).then(response => {
        if (response.ok) {
            // Golește câmpurile notificării
            const box = document.getElementById(`notif-box-${id}`);
            if (box) {
                const inputs = box.querySelectorAll('input');
                inputs.forEach(input => input.value = '');
            }
            alert("Notificarea a fost ștearsă cu succes!");
        } else {
            alert("Eroare la ștergere.");
        }
    });
}

function getCSRFToken() {
    return document.querySelector('[name=csrfmiddlewaretoken]').value;
}
</script>