<!-- templates/home.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    {% if user.is_authenticated %}
        <p>Welcome, {{ user.username }}!</p>
        <a href="{% url 'logout' %}">Logout</a>

            <h2>My Tasks</h2>
            <ul>
                {% for task in tasks %}
                    <li>{{ task.titlu }} - Importanță: {{ task.importanta }}</li>
                {% empty %}
                    <li>No tasks found.</li>
                {% endfor %}
            </ul>
            <a href ="{% url 'create_task' %}">Create Task</a>
        {% else %}
        <p>Welcome, guest!</p>
        <a href="{% url 'login' %}">Login</a>
        <a href="{% url 'register' %}">Register</a>
    {% endif %}
</body>
</html>
